/* src/styles/Header.css */
.header {
  height: 70px;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header-logo {
  color: #f82ba7;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-login {
  background-color: black;
  color: white;
  padding: 6px 14px;
  border-radius: 5px;
  text-decoration: none;
}

.header-signup {
  background-color: #f82ba7;
  color: white;
  padding: 6px 14px;
  border-radius: 5px;
  text-decoration: none;
}